---
import Layout from '../layouts/Layout.astro';
import FirebaseTest from '../components/FirebaseTest.jsx';
---

<Layout>
  <div class="flex min-h-screen justify-center items-center">
    <FirebaseTest client:load />
  </div>
</Layout>