---
// src/pages/profile.astro
import Layout from '../layouts/Layout.astro';
import SideNavigation from '../components/SideNavigation';
import UserProfile from '../components/UserProfile';
import AuthHeader from '../components/AuthHeader';
import ProtectedRoute from '../components/ProtectedRoute';
---

<Layout title="プロフィール設定 - ハロプロイベント">
  <ProtectedRoute client:load requireOnboarding={true}>
    <div class="flex min-h-screen bg-gray-100">
      <SideNavigation activePage="profile" client:load />
      <div class="flex-1">
        <AuthHeader client:load />
        <div class="container mx-auto p-6">
          <UserProfile client:only="react" />
        </div>
      </div>
    </div>
  </ProtectedRoute>
</Layout>