---
// src/pages/profile.astro
import Layout from '../layouts/Layout.astro';
import AuthHeader from '../components/AuthHeader';
import UserProfile from '../components/UserProfile';
import ProtectedRoute from '../components/ProtectedRoute';
---

<Layout title="プロフィール設定 - ハロプロイベント">
  <AuthHeader client:load />
  <ProtectedRoute client:load>
    <div class="container mx-auto py-8 px-4">
      <UserProfile client:load />
    </div>
  </ProtectedRoute>
</Layout>