---
import Layout from '../layouts/Layout.astro';
import SupabaseTest from '../components/SupabaseTest';
---

<Layout>
  <div class="flex min-h-screen justify-center items-center">
    <SupabaseTest client:load />
  </div>
</Layout>